@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.item {
  width: 200px;
  height: 100px;
  background-color: green;
  padding: 20px;
}
